docutils==0.17.1; python_version >= "3" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3"
lockfile==0.12.2; python_version >= "3"
psutil==5.9.3; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
python-daemon==2.3.2; python_version >= "3"
typing-extensions==4.4.0; python_version >= "3.7"
